<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>货物 管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <style>
        a {
            text-decoration: none;
        }

        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <div style="margin-top: 10px;">
            <form class="form-inline">
                <div class="form-group">
                    <label>货物名称</label>
                    <select class="form-control" name="org_name" id="org_name">
                        <option v-for="org in orgs2" :value="org.id">{{org.name}}</option>
                    </select>
                </div>
                <button type="button" class="btn btn-info" @click="queryCity()">查询</button>
                <!-- 弹出一个当前页面的HTML片断 片断的id为myModal -->
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal"
                    onclick="loadOrgName()">新建货物信息</button>
            </form>
        </div>
        <hr>
        <div>
            <table class="table table-stripted table-bordered table-condensed table-hover">
                <thead>
                    <tr>
                        <template v-for="item in city_hd">
                            <th>{{item}}</th>
                        </template>
                        <th><input type="checkbox" v-model="checkbox" @change="select()">全选/全不选</th>
                    </tr>
                </thead>
                <tbody v-show="city_bd">
                    <template v-for="car in carType1">
                        <tr>
                          
                            <td>{{car.state}}</td>
                            <td>{{car.cityCode}}</td>
                            <td>{{car.cityName}}</td> 
                             <td>[<a href="#">查看节点</a>][<a href="#">修改</a>][<a href="#">作废</a>]</td>
                            <td><input type="checkbox" :value="car.id" @change="changeChk()" v-model="checkedNames">
                            </td>

                        </tr>
                    </template>

                </tbody>
            </table>
        </div>

        <!-- 弹出的模态框 -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <!-- 头部 -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">新建货物信息</h4>
                    </div>
                    <!--身体 -->
                    <div class="modal-body">
                        <!-- 需要填的内容 -->
                        <div>
                            <form class="form-horizontal">
                                <fieldset title="新建货物">

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label"><span style="color: red;">*</span>货物名称</label>
                                        <div class="col-sm-10">
                                           <input type="text" id="f_city_id" name="f_city_id">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">城市名称</label>
                                        <div class="col-sm-10">
                                            <textarea type="text" id="f_city_name" name="f_city_name"></textarea>
                                        </div>
                                    </div>

                                   

                                </fieldset>
                            </form>
                        </div>
                    </div>
                    <!--脚-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">保存</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/tms_test/js/jquery-3.5.1.js"></script>
<script src="/tms_test/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>

    var myModalVue = new Vue({
        el: '#app',
        data: {
            city_hd: ['状态', '货物名称', '备注', '操作'],
            city_bd: false,
            checkbox: false,
            checkedNames: [],
            checkbox1: [1, 2, 3, 4, 5, 6, 7,8],

            "orgs": [
                { "id": 1, "name": "小宝" },
                { "id": 2, "name": "大宝" },
                { "id": 3, "name": "长沙ABC" }
            ],
            "orgs1": function () {

                return [
                    { "id": 1, "name": "小宝" },
                    { "id": 2, "name": "大宝" },
                    { "id": 3, "name": "长沙ABC" }
                ]
            },
            "orgs2": []
        },
        watch: {
            checkedNames: function (newVal) {
                console.log(newVal)
            },

        },
        mounted: function () {
            var _self = this;
            $.get("/tms_test/data/tms_org.json", function (orgData) {
                _self.orgs2 = orgData.orgs
            }, "json")
            $.get("/tms_test/data/citys.json", function (Data) {
                _self.carType1 = Data.carType
            }, "json")

        },
        methods: {
            queryCity: function () {
                this.city_bd = true
            },
            select: function () {
                if (this.checkbox) {
                    this.checkedNames = this.checkbox1
                } else {
                    this.checkedNames = []
                }
            },
            changeChk: function () {
                if (this.checkedNames.length < 8) {
                    this.checkbox = false
                } else if (this.checkedNames.length == 8) {
                    this.checkbox = true
                }
            }
        }
    })

    //alert(myModalVue.orgs)

    //Vue
    function loadOrgName() {
        //alert("loading")
        //查询数据 使用ajax
        /*$.get("/data/tms_org.json", function(orgData){
            console.log(orgData)
            var orgs = orgData.orgs //获取的数据是数组
            //使用JQuery的选择器选择id为org_name的DOM元素
            //使用id选择器
            //遍历数组
            for(var i=0;i<orgs.length;i++) {
                //拼接HTML代码 

                var opt = '<option value="'+orgs[i].id+'">'+orgs[i].name+'</option>'
                $("#org_name").append(opt)
            }
        }, "json")*/
    }

</script>

</html>