<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>节点管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
</head>
<style>
    
</style>

<body>
    <div id="app">
        <div>
            <span>承运商</span>
            <select name="city_name" id="city_name">
                <option v-for="operator01 in operator1" :value="operator01.id">{{operator01.cityName}}</option>
            </select>
            <span>车牌号</span>
            <input type="text" name="node_name" id="node_name">
            <span>挂车车牌号</span>
            <input type="text" name="node_name" id="node_name">
            <button type="button" class="btn btn-info" @click="display2">{{name2}}</button>
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal1"
                onclick="loadnewNode()">新车辆备案</button>
        </div>
        <hr>

        <div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>状态</th>
                        <th>承运商</th>
                        <th>车牌号</th>
                        <th>挂车车牌号</th>
                        <th>车型</th>
                        <th>车辆容积（立方米）</th>
                        <th>车辆载重（吨）</th>
                        <th>联系人</th>
                        <th>联系方式</th>
                        <th>备注</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody v-show="hide">
                    <tr>
                        <td>正常</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>1.000</td>
                        <td>1.00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>[<a href="#">修改</a>][<a href="#">作废</a>]</td>
                    </tr>
                    <tr>
                        <td>已作废</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- 弹出的模态框 -->
        <!-- 弹出的模态框 -->
        <!-- 弹出的模态框 -->
        <div class="modal fade" id="myModal1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <!-- 头部 -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">新建节点信息</h4>
                    </div>
                    <!--身体 -->
                    <div class="modal-body">
                        <div>
                            <fieldset>
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label>运营商代码</label>
                                        <input type="text" id="carrier_id" name="carrier_id"
                                            style="background-color: darkgray;" readonly>
                                        <label class="xrequired">运营商</label>
                                        <!-- 此选择框的数据是要通过查询数据库的 -->
                                        <select name="car_carrier" id="car_carrier" >
                                            <option v-for="carriers in carrier" :value="carriers.id">
                                                {{carriers.name}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class=" xrequired">车牌号</label>
                                        <input type="text" id="car_number" name="car_number">
                                        <label class="  xrequired">挂车车牌号</label>
                                        <!-- 此选择框的数据是要通过查询数据库的 -->
                                        <input type="text" id="car_number1" name="car_number1">
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label xrequired">长*宽*高</label>
                                        <input class="input" type="text" id="car_long" name="car_long">
                                        <span style="color: red;">*</span>
                                        <input class="input" type="text" id="car_width" name="car_width">
                                        <span style="color: red;">*</span>
                                        <input class="input" type="text" id="car_height" name="car_height">
                                    </div>

                                    <div class="form-group">
                                        <label class=" control-label">车辆容积(立方米)</label>
                                        <input type="text" id="car_volume" name="car_volume" disabled>
                                        <label class="control-label xrequired">车辆载重(吨)</label>
                                        <input type="text" id="car_volume" name="car_volume">
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label xrequired">车型</label>
                                        <div class="col-sm-3  ">
                                            <!-- 此选择框的数据是要通过查询数据库的 -->
                                            <select class="form-control" name="car_type" id="car_type">
                                                <option v-for="carType in carTypes" :value="carType.id">
                                                    {{carType.name}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class=" col-sm-2 control-label">联系人</label>
                                        <input type="text" id="car_master" name="car_master">
                                        <label class=" control-label ">联系方式</label>
                                        <input type="text" id="car_phone" name="car_phone">
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">备注</label>
                                        <div class="col-sm-10">
                                            <textarea name="node_comments" id="node_comments" cols="60"
                                                rows="5"></textarea>
                                        </div>
                                    </div>
                                </form>
                            </fieldset>
                        </div>
                    </div>
                    <!--脚-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">保存</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/tms_test/js/jquery-3.5.1.js"></script>
<script src="/tms_test/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    var myModalVue = new Vue({
        el: '#app',
        data: {
            "node01": [],
            "operator1": [],
            name2: '查询',
            hide: false
        },
        mounted: function () {
            var _self = this;
            $.get("/tms_test/data/tms_operators.json", function (node) {
                _self.operator1 = node.operators
            }, "json")
        },
        methods: {
            display2: function () {
                if (this.hide) {
                    this.hide = false
                } else {
                    this.hide = true
                }
            }
        }
    })
    function loadnewNode() {

    }

</script>

</html>